{{- if and (empty .Values.wireguard.existingSecret) (.Values.wireguard.client.enabled) }}
# Generate wg0.conf for client mode
# If wireguard.client.config.existingSecret is set, lookup the keys and build the config
# Otherwise, create a secret with empty values
{{- $sourceSecret := "" }}
{{- if .Values.wireguard.client.config.existingSecret }}
{{- $sourceSecret = lookup "v1" "Secret" .Release.Namespace .Values.wireguard.client.config.existingSecret }}
{{- end }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "wireguard.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    release: {{ include "wireguard.fullname" . }}
  {{- if $sourceSecret }}
  annotations:
    # Hash of source secret to trigger regeneration on changes
    checksum/source-secret: {{ $sourceSecret.data | toJson | sha256sum }}
  {{- end }}
type: Opaque
stringData:
  wg0.conf: |
    [Interface]
    PrivateKey = {{ if $sourceSecret }}{{ index $sourceSecret.data "privatekey" | b64dec }}{{ end }}
    Address = {{ .Values.wireguard.client.config.address }}
    DNS = {{- if .Values.wireguard.dns }} {{ .Values.wireguard.dns }} {{- else }} 1.1.1.1, 2606:4700:4700::1111 {{- end }}
    MTU = {{- if .Values.wireguard.client.config.mtu }} {{ .Values.wireguard.client.config.mtu }} {{- else }} 1420 {{- end }}
    {{- if .Values.wireguard.client.config.preUp }}
    PreUp = {{ .Values.wireguard.client.config.preUp }}
    {{- end }}
    {{- if .Values.wireguard.client.config.postUp }}
    PostUp = {{ .Values.wireguard.client.config.postUp }}
    {{- end }}
    {{- if .Values.wireguard.client.config.preDown }}
    PreDown = {{ .Values.wireguard.client.config.preDown }}
    {{- end }}
    {{- if .Values.wireguard.client.config.postDown }}
    PostDown = {{ .Values.wireguard.client.config.postDown }}
    {{- end }}

    [Peer]
    PublicKey = {{ if $sourceSecret }}{{ index $sourceSecret.data "publickey" | b64dec }}{{ end }}
    PresharedKey = {{ if $sourceSecret }}{{ index $sourceSecret.data "presharedkey" | b64dec }}{{ end }}
    AllowedIPs = {{- if .Values.wireguard.allowedIPs }} {{ .Values.wireguard.allowedIPs }} {{- else }} 0.0.0.0/0, ::0/0 {{- end }}
    PersistentKeepAlive = {{- if .Values.wireguard.client.config.persistentKeepalive }} {{ .Values.wireguard.client.config.persistentKeepalive }} {{- else }} 25 {{- end }}
    Endpoint = {{ .Values.wireguard.client.config.endpoint }}
{{- end }}