apiVersion: v2
name: wordpress
description: "Using the official WordPress image. This chart provides automation for installation, user management, plugin installation, and metrics."
type: application
version: 1.0.2
appVersion: "6.8.3" # renovate: image=docker.io/wordpress
icon: https://raw.githubusercontent.com/slydlake/helm-charts/refs/heads/main/charts/wordpress/app.png
home: https://github.com/slydlake/helm-charts
maintainers:
  - name: slydlake
sources:
  - https://github.com/slydlake/helm-charts
annotations:
  artifacthub.io/category: networking
  artifacthub.io/license: MIT
  artifacthub.io/links: |
    - name: SlyCharts GitHub Repository
      url: https://github.com/slydlake/helm-charts/tree/main/charts/wordpress
    - name: Official WordPress Repository
      url: https://github.com/docker-library/
    - name: "SlyMetrics WordPress plugin for Prometheus Metrics"
      url: https://github.com/slydlake/slymetrics
    - name: Apache Metrics container
      url: https://github.com/Lusitaniae/apache_exporter
  artifacthub.io/maintainers: |
    - name: slydlake
      email: sly.dlake@gmail.com
  artifacthub.io/changes: |
    - kind: fixed
      description: "fixed base script problem"
  artifacthub.io/images: |
    - name: wordpress
      image: docker.io/wordpress:6.8.3-php8.1-apache
    - name: wordpress-cli
      image: docker.io/wordpress:cli-2.12.0-php8.1
    - name: metrics-apache
      image: docker.io/lusotycoon/apache-exporter:v1.0.11
    - name: mariadb
      image: docker.io/mariadb:12.0.2-noble
    - name: memcached
      image: docker.io/memcached:1.6.39
dependencies:
  - condition: memcached.enabled
    name: memcached
    repository: oci://registry-1.docker.io/cloudpirates
    version: 0.7.0
  - condition: mariadb.enabled
    name: mariadb
    repository: oci://registry-1.docker.io/cloudpirates
    version: 0.7.0
keywords:
  - wordpress
  - blog
