---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "wordpress.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    release: {{ include "wordpress.fullname" . }}
type: Opaque
data:
  WORDPRESS_TABLE_PREFIX: {{ .Values.wordpress.tablePrefix | b64enc }}
  {{- if .Values.wordpress.configExtraInject }}
  {{/* Build inject string: WP_HOME, WP_SITEURL, memcached config */}}
  {{- $inject := "" }}
  {{- $url := include "wordpress.normalizedUrl" . }}
  {{/* Always inject WP_HOME and WP_SITEURL (URL is auto-prefixed with http/https if no protocol given) */}}
  {{- $inject = printf "define('WP_HOME', '%s');define('WP_SITEURL', '%s');" $url $url }}
  {{/* Multisite constants (WP_ALLOW_MULTISITE, MULTISITE, SUBDOMAIN_INSTALL, DOMAIN_CURRENT_SITE, etc.) */}}
  {{/* are NOT injected here. They are written directly into wp-config.php by 'wp core multisite-convert' */}}
  {{/* in the init container and persist on the PVC. Injecting them here would cause PHP warnings */}}
  {{/* about already-defined constants. */}}
  {{/* Add memcached config when enabled */}}
  {{- $memcachedCreateConfig := .Values.memcached.createConfig }}
  {{- if hasKey .Values.memcached "createconfig" }}
  {{- $memcachedCreateConfig = .Values.memcached.createconfig }}
  {{- end }}
  {{- if and .Values.memcached.enabled $memcachedCreateConfig }}
  {{- $inject = printf "%sif (!defined('WP_CACHE')) { define('WP_CACHE', true); }" $inject }}
  {{- $cacheKeySalt := .Values.memcached.cacheKeySalt | default "" }}
  {{- if and (eq $cacheKeySalt "") .Values.memcached.cacheKeySaltSecret.name }}
  {{- $cacheKeySaltSecret := lookup "v1" "Secret" .Release.Namespace .Values.memcached.cacheKeySaltSecret.name }}
  {{- if not $cacheKeySaltSecret }}
  {{- fail (printf "memcached.cacheKeySaltSecret.name '%s' not found in namespace '%s'" .Values.memcached.cacheKeySaltSecret.name .Release.Namespace) }}
  {{- end }}
  {{- $cacheKeySaltKey := .Values.memcached.cacheKeySaltSecret.key | default "WP_CACHE_KEY_SALT" }}
  {{- if not (hasKey $cacheKeySaltSecret.data $cacheKeySaltKey) }}
  {{- fail (printf "memcached.cacheKeySaltSecret.key '%s' not found in secret '%s'" $cacheKeySaltKey .Values.memcached.cacheKeySaltSecret.name) }}
  {{- end }}
  {{- $cacheKeySalt = (index $cacheKeySaltSecret.data $cacheKeySaltKey | b64dec) }}
  {{- end }}
  {{- if eq $cacheKeySalt "" }}
  {{- $existingSecret := lookup "v1" "Secret" .Release.Namespace (include "wordpress.fullname" .) }}
  {{- if and $existingSecret (hasKey $existingSecret.data "WORDPRESS_CACHE_KEY_SALT") }}
  {{- $cacheKeySalt = (index $existingSecret.data "WORDPRESS_CACHE_KEY_SALT" | b64dec) }}
  {{- else }}
  {{- $cacheKeySalt = randAlphaNum 48 }}
  {{- end }}
  {{- end }}
  WORDPRESS_CACHE_KEY_SALT: {{ $cacheKeySalt | b64enc }}
  {{- $inject = printf "%sdefine('WP_CACHE_KEY_SALT', '%s');" $inject (replace "'" "\\'" $cacheKeySalt) }}
  {{- $memcachedServerGroups := .Values.memcached.serverGroups | default dict }}
  {{- $memcfg := "" }}
  {{- if gt (len $memcachedServerGroups) 0 }}
  {{- $groupEntries := list }}
  {{- range $groupName, $groupServers := $memcachedServerGroups }}
  {{- $serverEntries := list }}
  {{- range $groupServers }}
  {{- $serverEntries = append $serverEntries (printf "'%s'" .) }}
  {{- end }}
  {{- $groupEntries = append $groupEntries (printf "'%s' => array(%s)" $groupName (join ", " $serverEntries)) }}
  {{- end }}
  {{- $memcfg = printf "$memcached_servers = array(%s);\n" (join ", " $groupEntries) }}
  {{- else }}
  {{- $memcfg = printf "$memcached_servers = array('default' => array('%s:%v'));\n" (include "wordpress.memcached.fullname" .) (.Values.memcached.service.port) }}
  {{- end }}
  {{- $inject = printf "%s%s" $inject $memcfg }}
  {{- end }}
  {{- if and (not .Values.wordpress.configExtraConfigMap.name) (not .Values.wordpress.configExtraSecret.name) }}
  {{/* No external source: combine user configExtra (if any) + inject into WORDPRESS_CONFIG_EXTRA */}}
  {{- $combined := printf "%s%s" (.Values.wordpress.configExtra | default "") $inject }}
  WORDPRESS_CONFIG_EXTRA: {{ $combined | b64enc }}
  {{- else }}
  {{/* External source provides user config: store inject separately for K8s $(VAR) interpolation in deployment.yaml */}}
  _WP_CONFIG_INJECT: {{ $inject | b64enc }}
  {{- end }}
  {{- else }}
  {{/* configExtraInject disabled: only include configExtra if set and no external source */}}
  {{- if and .Values.wordpress.configExtra (not .Values.wordpress.configExtraConfigMap.name) (not .Values.wordpress.configExtraSecret.name) }}
  WORDPRESS_CONFIG_EXTRA: {{ .Values.wordpress.configExtra | b64enc }}
  {{- end }}
  {{- end }}
  {{- if .Values.mariadb.enabled }}
  {{- $host := include "wordpress.mariadb.fullname" . }}
  {{- $port := default 3306 .Values.mariadb.service.port }}
  WORDPRESS_DB_NAME: {{ .Values.mariadb.auth.database | b64enc }}
  WORDPRESS_DB_HOST: {{ printf "%s:%v" $host $port | b64enc }}
  WORDPRESS_DB_USER: {{ .Values.mariadb.auth.username | b64enc }}
  {{- else }}
  {{- $host := .Values.externalDatabase.host }}
  {{- $port := default 3306 .Values.externalDatabase.port }}
  WORDPRESS_DB_NAME: {{ .Values.externalDatabase.database | b64enc }}
  WORDPRESS_DB_HOST: {{ printf "%s:%v" $host $port | b64enc }}
  {{- if and (not .Values.mariadb.enabled) (not .Values.externalDatabase.existingSecret) }}
  {{- if .Values.externalDatabase.username }}
  WORDPRESS_DB_USER: {{ .Values.externalDatabase.username | b64enc }}
  {{- end }}
  {{- if .Values.externalDatabase.password }}
  WORDPRESS_DB_PASSWORD: {{ .Values.externalDatabase.password | b64enc }}
  {{- end }}
  {{- end }}
  {{- end }}
{{- if and .Values.wordpress.init.enabled (empty .Values.wordpress.init.existingSecret) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "wordpress.fullname" . }}-init
  namespace: {{ .Release.Namespace }}
  labels:
    release: {{ include "wordpress.fullname" . }}-init
type: Opaque
data:
  wordpress.username: {{ .Values.wordpress.init.username | b64enc }}
  wordpress.password: {{ .Values.wordpress.init.password | b64enc }}
  wordpress.email: {{ .Values.wordpress.init.email | b64enc }}
{{- end }}
{{ if .Values.metrics.wordpress.enabled }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ include "metrics.wordpress.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    release: {{ include "metrics.wordpress.fullname" . }}
type: Opaque
data:
  {{ if (empty .Values.metrics.wordpress.existingSecret) }}
  wordpress.metrics.token: {{ .Values.metrics.wordpress.serviceMonitor.token | b64enc }}
  {{- end }}
  wordpress.metrics.encryptionKey: {{ randAlphaNum 32 | b64enc }}
{{- end }}